.app-desktop {
    background-color: var(--desktop-background-color);
    background-image: url("./images/turtle_yellow.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-blend-mode: multiply;
    width: 100vw;
    height: calc(100vh - var(--taskbar-height));
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.app-taskbar {
    height: var(--taskbar-height);
    width: 100vw;
    background-color: var(--yellow);
    border-top: var(--border-stroke) solid var(--border-color);
    border-bottom: 0;
}

.window {
    /* min-width: 314px;
  min-height: 155px; */
    /* background-color: #753851; */
    overflow-y: scroll;
    min-height: 155px;
}

.progress-bar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.progress-segment {
    width: 20px;
    height: 20px;
    border: 2px solid #994c63;
    border-radius: 4px;
}

.progress-segment.filled {
    background-color: #ff9966; /* Orange */
}

.form-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.form-input {
    padding: 0.75rem;
    border: 0;
    outline: 2px solid var(--border-color);
    border-radius: 6px;
}

.form-input:focus {
    outline: 4px solid var(--orange);
}

.form-label {
    font-size: 10pt;
}

small {
    font-size: 8pt;
}

.form-style {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.form-error-message {
    color: var(--red);
}

.button {
    padding: 0.75rem;
    /* background: #994c63; */
    border-radius: 8px;
    outline: 2px solid var(--border-color);
    transition: 0.3s;
    text-align: center;
}

.button:hover, .button:focus {
    border-radius: 0px;
    background-color: var(--mint);
}

.flex-1 {
    flex: 1 !important;
}
