@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;

  --red: #db423d;
  --orange: #ff7d4e;
  --yellow: #f9c65f;
  --mint: #a6d49c;
  --light-pink: #fdc2be;
  --border-color: #753851;
  --whitish: #ffedd6;

  --border-stroke: 5px;
  --taskbar-height: 70px;

  --window-border-radius: 18px;
  --window-padding: 18px;
  --window-title-bar-height: 56px;

  --spacing: 1rem;

  --desktop-background-color: var(--light-pink);

  color: var(--border-color);

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--border-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body.dragging {
  user-select: none;
}

body {
  cursor: url("/cursor_arrow.svg"), auto;
}

button {
  all: unset;
}

.hand-cursor,
.hand-cursor *,
.hand-cursor svg,
.hand-cursor svg *,
button {
  cursor: url("/hand_cursor.png") 0 20, url("/cursor_arrow.svg"), auto !important;
}
